{% extends 'baseTBC.html'%}
{% load static %}
{% block content%}
    <title>Subir estadística</title>
        <div class="form-row">
            <div class="col-md-12">
                <!--Tarjeta de campos-->
                <div hidden class="container-flex mb-3" id="wwg-accordian">
                    <div class="card">
                        <div class="card-header" id="campos-heading" style="background-color: white;">      
                            <h5 data-toggle="collapse" data-parent="#wwg-accordian" href="#campos" style="cursor:pointer;"><i class="fas fa-upload"></i>&nbsp;Campos para subir archivo</h5>
                        </div>
                        <div class="collapse show" id="campos">
                            <div class="card-text p-3">
                                <form >
                                    
                                    <div class="form-row">
                                        <div class="col-md-2">
                                            <label for="">Semestre</label>
                                            <select class="selectpicker" data-live-search="true" data-width="100%" data-size="4" title="Semestre"  id="selectSemestreH" onchange="seleccionSemestreH();" required>
                                                <option value="1">1er semestre</option>
                                                <option value="2">2do semestre</option>
                                                <option value="3">3er semestre</option>
                                                <option value="4">4to semestre</option>
                                                <option value="5">5to semestre</option>
                                                <option value="6">6to semestre</option>
                                            </select>
                                        </div>
                                        <div hidden class="col-md-3">
                                            <label for="">Módulo</label>
                                            <select class="selectpicker" data-live-search="true" data-width="100%" data-size="4" title="Módulo"  id="selectMateriaH" onchange="seleccionMateriaH();" required>
                                                <option value="6">Matemáticas, fuerzas y movimiento</option>
                                                {% for doc in docente %}
                                                    {% for mod in modulo %}
                                                        {% for docmod in docenteCurso %}
                                                            {% if docmod.id_curso == mod.id_modulo and docmod.id_docente == doc.id_docente %}
                                                                <option value="{{ docmod.id_dc }}"> <strong>{{ mod.nombre_modulo }}</strong> -  {{ doc.nombres_docente }} </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div hidden class="col-md-2">
                                            <label for="">Tipo</label>
                                            <select class="selectpicker" data-live-search="true" data-width="100%" data-size="4" title="Tipo"  id="selectGrupoH" onchange="seleccionGrupoH();" required>
                                                <option value="4">Calificaciones</option>
                                                <option value="5">Asistencia</option>
                                                <option value="6">Exámenes</option>
                                                <option value="4">índice reprobación</option>
                                                <option value="5">Becarios</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="">Fecha</label>
                                            <input type="text" class="form-control border border-ligth text-center" id="fecha" name="fecha" value=" {% now "SHORT_DATE_FORMAT" %} " disabled>
                                        </div>
                                        <div class="col-md-1">
                                            <label for="">Subir archivo</label>
                                            
                                        </div>
                                        <div class="col-md-2">
                                            <label for="">&nbsp;</label>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="col-md-12 mb-3">
                                                    <input type="text" id="inputSemestreH" name="semestreH" hidden>
                                                    <input type="text" id="inputMateriaH" name="materiaH" hidden>
                                                    <input type="text" id="inputGrupoH" name="grupoH" hidden>
                                                    <input type="text" name="bandera" value="False" hidden>
                                                    <button class="btn btn-outline-info btn-block" type="submit" >Subir</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta del historial-->
                <div class="container-flex mb-3" id="wwg-accordian">
                    <div class="card">
                        <div class="card-header" id="historial-heading" style="background-color: white; height: 63px;">      
                            <h5 data-toggle="collapse" data-parent="#wwg-accordian" href="#historial" style="cursor:pointer; display: inline"><i class="far fa-folder-open"></i>&nbsp;Archivos</h5>
                        </div>
                        <div class="collapse show" id="historial">
                            <div class="card-text p-2">
                                <table class="table table-borderless table-hover" style="height: 500px; display: -moz-groupbox;">
                                    <thead >
                                        <tr style="display: inline-table; height:60px; table-layout: fixed;">
                                            <th scope="col" style="width: 15%;">#</th>
                                            <th  style="width: 39.4%;">Nombre</th>
                                            <th  style="width: 32.4%;">Archivo</th>
                                            <th  style="width: 20%;">Fecha de subida</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow-y: scroll; height: 450px; width: 98.5%; position: absolute;">
                                        {% for ar in archivoEstadistica %}
                                            <tr>
                                                <th style="width: 9%;">{{ forloop.counter }}</th>
                                                <td style="width: 25%;">{{ ar.nombre_archivo }}</td>
                                                <td style="width: 31.4%;">{{ ar.nombre_archivoL }}</td>
                                                <td style="width: 30%;">{{ ar.fecha }}</td>
                                                <td style="width: 5%;"><button class="btn btn-outline-info"><i class="far fa-eye"></i></button></td>
                                            </tr>
                                        {% empty %}
                                                    <tr>
                                                        <td style="width: 10%;">
                                                            <div class="alert alert-danger" role="alert">
                                                                <div class="form-row">
                                                                    <strong class="col-md-12 text-center">Ningún archivo ha sido subido aun</strong>
                                                                </div>
                                                                <div class="form-row">
                                                                    <p class="col-md-12 text-center">Seleccione un archivo para subirlo.</p>
                                                                </div>
                                                            </div>  
                                                        </td>
                                                    </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row mb-2">
                                        <div class="col-md-2">
                                            <button class="btn btn-outline-primary btn-block" type="button" id="btnNss" onclick="descargarFormato();"><i class="fas fa-download"></i> &nbsp; Descargar formato</button>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="file" name="archivo" id="archivoEstadisticaI" style="display: none;" required accept=".csv"/>
                                            <button id="btnActaArchivo" type="button" class="btn btn-outline-primary btn-block" onclick="document.getElementById('archivoEstadisticaI').click();"><i class="fas fa-upload"></i> &nbsp; Subir archivo nuevo</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-outline-success"><i class="fas fa-save"></i> &nbsp; Guardar</button>
                                        </div>
                                    </div>
                                    <div class="form-row" id="form-row">
                                        <div class="col-md-12 mb-3" id="divArchivo">
                                            
                                        </div>
                                     </div>
                                    <div class="col-md-2">
                                        <input hidden type="text" class="form-control text-center" id="fecha" name="fecha" value=" {% now "SHORT_DATE_FORMAT" %} " style="border-color:white;" readonly>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        //Funcion para generar los inputos
        inputArchivo = document.getElementById("archivoEstadisticaI");
        inputArchivo.onchange = function(event) {
        var fileList = inputArchivo.files;
            for (var i = 0; i < fileList.length; i++){
                //Creación de label
                let lb = document.createElement('label');
                lb.innerHTML = 'Ingrese el nombre/descripción del archivo <strong>' + fileList[i].name + '</strong>';
                lb.id = 'labelArchivo';
                lb.className = 'lblArchivo';
                let div = document.getElementById("divArchivo");
                div.appendChild(lb);
                //Creación de los inputs para insertar las descripciones
                let el = document.createElement("input");
                el.className = "form-control border border-ligth mb-3";
                el.placeholder = "Nombre";
                el.id = "nombreArchivo";
                el.name = 'nombreArchivo' //+i
                div.appendChild(el);
            }
        }

        //Sweetalert para descagar formato
        function descargarFormato(){
            Swal.fire({
                title: '¡Atención!',
                html: "¡No debes de modificar la 1er fila de encabezados! <br> Por favor revisa y llena los campos correspondientes a cada columna",
                icon: 'warning',
                width: '750px',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ok, ¡llévame ahí!'
                }).then((result) => {
                if (result.isConfirmed) {
                    window.open('https://mega.nz/file/R94CWZ6K#oVr15cfSEy2hky_ilzSSZNRrC63IkJtkz78Mr9lblr0', '_blank');
                }
                })
        }
    </script>
{% endblock %}
